body { background: #1d1f4c; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-shipping-0 { color: #e450b8; font-size: 20px; margin-bottom: 5px; }
.block-validator-1 { color: #2aed39; font-size: 17px; margin-bottom: 5px; }
.block-cluster-2 { color: #6c6914; font-size: 15px; margin-bottom: 5px; }
.block-email-3 { color: #92be5; font-size: 12px; margin-bottom: 5px; }
.block-database-4 { color: #491c04; font-size: 12px; margin-bottom: 5px; }